In [1]:
import pandas as pd
data = {'state': ['US','Ohio','Nevada'], 'pop':[2.5, 4.3, 3.2]}
df = pd.DataFrame(data)
df

    state  pop
0      US  2.5
1    Ohio  4.3
2  Nevada  3.2

In [8]:
df.iloc[0:3]

    state  pop
0      US  2.5
1    Ohio  4.3
2  Nevada  3.2